.Pokedex{
    text-align: center;
}

.Pokedex-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.Pokedex-title {
    color: darkgray;
  }

  
.Pokedex-winner {
    font-weight: bold;
    color: orangered;
  }